@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f9fafc;
}

header {

}

h4 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bolder;
}

h1 {
    font-weight: bolder;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 5px 0px;
    margin-top: 0px;

}

.paragraph-text {
    border-left: 5px solid gray;
    padding-left: 10px;
}

nav {
    display: block;
}

nav li {
    padding-top: 5px;
}

nav a {
    text-decoration: none;
    color: #69696a;
}



button {
    background-color: black;
    color: #fff;
    border-radius: 30px;
    display: block;
    align-self: center;
    width: 100%;
    
}



.button-display {
    min-width: 100%;
}

footer ul li {
    display: inline-block;
    text-align: center;
    justify-content: center;
    
}

footer a {
    text-decoration: none;
    color: #69696a;
    padding-right: 2px;
}

footer {
    background-color: rgba(247, 193, 162, 0.7);
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    padding: 2px;
    
}
