@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);

body {
    font-family: "Open Sans";
    background-color: #f9fafc;
}

header {

}

h4 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bolder;
}

h1 {
    font-weight: bolder;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 5px 0px;
    margin-top: 0px;

}

nav {
    display: block;
}

nav li {
    padding-top: 5px;
}

nav a {
    text-decoration: none;
    color: #69696a;
}

.footer-links {
    text-decoration: none;
    color: #69696a;
}

.button {
    text-decoration: none;
    color: #69696a;
    min-width: 100%;
 
}

.button-display {
    min-width: 100%;
}


